#hide-button {
    display: none;
}

#nav-menu {
    display: none;
}

input#nav-toggle:checked~label#show-button {
    display: none !important;
}

input#nav-toggle:checked~label#hide-button {
    display: flex !important;
}

input#nav-toggle:checked~#nav-menu {
    display: block !important;
    background-color: #efefef;
    text-align: center;
    width: 100%;
}

#home-link {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

nav {
    background-color: #efefef;
    border-bottom: 1px solid #000;
}

.svg {
    height: auto;
    width: 1.5rem;
}

.hamburger {
    cursor: pointer;
}

.container {
    max-width: 1140px !important;
}

.animated-underline:after {
    content: '';
    display: block;
    border-bottom: solid 2px #fcc114;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%;
}

.animated-underline:hover:after {
    transform: scaleX(1);
}

.animated-underline{
    border: 0px;
}


@media (max-width: 400px) {
    .title {
        margin-left: 20%;
    }
}

/*

@media (max-width: 840px) {
    #show-button{
        display: block !important;
    }
    #nav-menu{
        display: none !important;
    }
}

@media (min-width: 840px) {
    .d-md-flex {
        display: none !important;
    }
}

@media (min-width: 840px) {
    .d-md-none {
        display: none !important;
    }
}
*/