
<nav class="navbar">
    <div class="container d-flex align-items-center justify-content-between flex-wrap">
        <a id="home-link" class="title" routerLink="/">
            <img src="../../assets/logo.png" height="50">
             Cook It
        </a>
        <input id="nav-toggle" type="checkbox" class="d-none">
        
        <label id="show-button" for="nav-toggle" class="hamburger d-flex align-items-center d-md-none mb-0">
            <svg class="svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Open</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z" />
            </svg>
        </label>
        <label id="hide-button" for="nav-toggle" class="hamburger align-items-center mb-0">
            <svg class="svg" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu Close</title>
                <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                    transform="rotate(45 10 10)" />
            </svg>
        </label>


        <ul id="nav-menu" class="list-unstyled align-items-center d-md-flex m-0 p-0">


            <li class="my-2">
                <a routerLink="/" class="sign-up btn animated-underline">{{strService.getResource("home")}}</a>
            </li>
            <li class="my-2">
                <a routerLink="/about" class="sign-up btn animated-underline">{{strService.getResource("about")}}</a>
            </li>
            <li class="my-2">
                <a routerLink="/recipes" class="sign-up btn animated-underline">{{strService.getResource("recipes")}}</a>
            </li>
            <li class="my-2" *ngIf="!service.isLoggedIn()">
                <a routerLink="/login" class="sign-up btn btn-outline-dark me-1 ms-1">{{strService.getResource("login")}}</a>
            </li>
            <li class="my-2" *ngIf="!service.isLoggedIn()">
                <a routerLink="/register" class="sign-up btn btn-warning ml-lg-3 ms-1 me-1">{{strService.getResource("register")}}</a>
            </li>
            
            <li class="my-2" *ngIf="service.isLoggedIn()">
                <a (click)="handleLogout()" href="#" class="sign-up btn btn-outline-dark me-1 ms-1">{{strService.getResource("logout")}}</a>
            </li>
            <li class="my-2" *ngIf="service.isLoggedIn()">
                <a routerLink='/favorites' class="sign-up btn btn-outline-dark ms-1 me-1">{{strService.getResource("favorites")}}</a>
            </li>
            <li class="my-2" *ngIf="service.isLoggedIn()">
                <a routerLink="/create" class="sign-up btn btn-warning ml-lg-3 ms-1 me-1">{{strService.getResource("create_recipe")}}</a>
            </li>
        
        </ul>
    </div>
</nav>