h3 {
  padding-bottom: 10px;
}

.centered {
  width: 70%;
  margin: 0 auto;
}

.tag-selection {
  display: inline-block;
  border-radius: 3px;
  padding: .2em .5em .3em;
  border-radius: 14px;
  background-color: #ffc107;
  border: 1px solid black;
  color: black;
  font-weight: 600;
  margin: .25em .1em
}

.tag-selected {
  background-color: #cea017;
}



.tag-selection:hover {
  background-color: #f8da80;
  cursor: pointer; 
}

.plus_btn{
  padding: 4px 9px;
  padding-top: 0px;
  display: inline-block;
  border-radius:21px;
  border: 1px solid black;
  background-color: #ffc107;
  font-size: 18px;
  margin-left: 2px;
}
.plus_btn:hover {
  background-color: #f8da80;
  cursor: pointer; 
}