<section class="centered mt-5">
    <h3>{{strService.getResource("create_your_recipe")}}</h3>
    <form [formGroup]="form" (ngSubmit)="handleCreate(form)">

        <div class="form-floating mb-4">
            <input formControlName="title" type="text" class="form-control" id="floatingPassword" placeholder="Title">
            <label for="floatingPassword">{{strService.getResource("title")}}</label>
        </div>
        <div *ngIf="title?.touched && title?.invalid" class="alert alert-danger">
            <div *ngIf="title?.errors?.['required']">{{strService.getResource("title")}} {{strService.getResource("is_required")}}.</div>
        </div>

        <div>
            <div class="tag-selection" *ngFor="let tag of selectedTagsKeys" (click)="toggleTag(tag)">{{tag}}</div>
            <div class="plus_btn mb-2" (click)="toggleTagMenu()">+ {{strService.getResource("add_tag")}}</div>
        </div>

        <div *ngIf="showTagMenu" class="mb-2">
            <h4>{{strService.getResource("choose_tag")}}: </h4>
            <div class="tag-selection" *ngFor="let tag of allTagsShowingKeys" (click)="toggleTag(tag)">{{tag}}</div>
        </div>



        <div class="form-floating mb-2 mt-4">
            <input #ingInp type="text" class="form-control" id="floatingPassword" placeholder="Title">
            <label for="floatingTextarea2">{{strService.getResource("ingredient")}}</label>
        </div>
        <div class="plus_btn" (click)="addIngredient(ingInp)">+ {{strService.getResource("add_ingredient")}}</div>


        <ul class="list-group mb-4 mt-2">
            <li class="list-group-item" *ngFor="let ing of recipeIngredients">{{ing}} <button type="button"
                    class="btn-close" aria-label="Close" (click)="removeIng(ing)"></button> </li>
        </ul>

        <div class="form-floating mb-2">
            <textarea class="form-control" formControlName="description" placeholder="Instructions"
                id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">{{strService.getResource("instructions")}}</label>
            
        </div>
        <div *ngIf="description?.touched && description?.invalid" class="alert alert-danger">
            <div *ngIf="description?.errors?.['required']">{{strService.getResource("instructions")}} {{strService.getResource("is_required")}}.</div>
        </div>

        <!-- I comment this in case I need it some time in teh future. -->
        <!--<div class="form-floating mb-2">
            <label for="floatingPassword">{{strService.getResource("image_link")}}</label>
        </div>
    
        <div *ngIf="imageUrl?.touched && imageUrl?.invalid" class="alert alert-danger">
            <div *ngIf="imageUrl?.errors?.['required']">{{strService.getResource("image_link")}} {{strService.getResource("is_required")}}.</div>
        </div>
        -->

        <div class="mb-2">
            <input formControlName="imageUrl" type="hidden" class="form-control" id="floatingPassword" value="example.com"
                placeholder="Title">
            <input type="file" formControlName="image" accept="image/png, image/jpg, image/jpeg, image/gif" (change)="onFileSelected($event)">
        </div>

        

        <div class="form-floating mb-2">
            <input formControlName="cooktime" type="text" class="form-control" id="floatingPassword"
                placeholder="Title">
            <label for="floatingPassword">{{strService.getResource("cook_time") | titlecase}} ({{strService.getResource("minutes")}})</label>
        </div>
        <div *ngIf="cookTime?.touched && cookTime?.invalid" class="alert alert-danger">
            <div *ngIf="cookTime?.errors?.['required']">{{strService.getResource("cook_time")}} {{strService.getResource("is_required")}}.</div>
        </div>
        <div class="form-floating mb-2">
            <input formControlName="servings" type="number" min="1" class="form-control" id="floatingPassword"
                placeholder="Title">
            <label for="floatingPassword">{{strService.getResource("servings") | titlecase}}</label>
        </div>
        <div *ngIf="servings?.touched && servings?.invalid" class="alert alert-danger">
            <div *ngIf="servings?.errors?.['min']">{{strService.getResource("servings_1_por")}}</div>

            <div *ngIf="servings?.errors?.['required']">{{strService.getResource("servings") | titlecase}} {{strService.getResource("is_required")}}.</div>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-warning">{{strService.getResource("create")}}</button>
    </form>
</section>
