<img class="full-width mb-5" src='../../assets/banner-about-us.jpg'>
<p class="p-2 text-center">Welcome to CookIt, where cooking and food come together in the tastiest way possible.

    Our mission is to inspire and help home cooks to create delicious and healthy meals for their families and friends.
    That's why we publish easy-to-follow recipes all aimed at making cooking
    accessible to everyone.

    Our team of experts tests every recipe to ensure it is delicious, healthy, and achievable in the home kitchen. We
    are always on the lookout for new recipes, cooking techniques, and ingredients, so you can be sure you're getting
    the latest and greatest in the world of cooking.

    CookIt is not just a recipe platform, it's a community. We encourage you to share your own recipes, ask questions,
    and connect with other food lovers. Whether you're an experienced cook or just starting out, CookIt is the place for
    you.

    So why not join us on this culinary journey and discover the joys of cooking with CookIt!
</p>

