<section class="centered mt-5">
    <h3>Edit your recipe here</h3>
    <form [formGroup]="form" (ngSubmit)="handleEdit(form)">

        <div class="form-floating mb-4">
            <input formControlName="title" type="text" class="form-control" id="floatingPassword" placeholder="Title">
            <label for="floatingPassword">Title</label>
        </div>
        <div *ngIf="title?.touched && title?.invalid" class="alert alert-danger">
            <div *ngIf="title?.errors?.['required']">Title is required.</div>
        </div>

        <div>
            <div class="tag-selection" *ngFor="let tag of selectedTagsKeys" (click)="toggleTag(tag)">{{tag}}</div>
            <div class="plus_btn mb-2" (click)="toggleTagMenu()">+ Add Tag</div>
        </div>

        <div *ngIf="showTagMenu" class="mb-2">
            <h4>Choose Tag: </h4>
            <div class="tag-selection" *ngFor="let tag of allTagsShowingKeys" (click)="toggleTag(tag)">{{tag}}</div>
        </div>



        <div class="form-floating mb-2 mt-4">
            <input #ingInp type="text" class="form-control" id="floatingPassword" placeholder="Title">
            <label for="floatingTextarea2">Ingredient</label>
        </div>
        <div class="plus_btn" (click)="addIngredient(ingInp)">+ Add Ingredient</div>


        <ul class="list-group mb-4 mt-2">
            <li class="list-group-item" *ngFor="let ing of recipeIngredients">{{ing}} <button type="button"
                    class="btn-close" aria-label="Close" (click)="removeIng(ing)"></button> </li>
        </ul>

        <div class="form-floating mb-2">
            <textarea class="form-control" formControlName="description" placeholder="Instructions"
                id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Instructions</label>
            
        </div>
        <div *ngIf="description?.touched && description?.invalid" class="alert alert-danger">
            <div *ngIf="description?.errors?.['required']">Description is required.</div>
        </div>
        <div class="form-floating mb-2">
            <input formControlName="imageurl" type="text" class="form-control" id="floatingPassword"
                placeholder="Title">
            <label for="floatingPassword">Image Link</label>
        </div>
        <div *ngIf="imageUrl?.touched && imageUrl?.invalid" class="alert alert-danger">
            <div *ngIf="imageUrl?.errors?.['required']">Image Link is required.</div>
        </div>
        <div class="form-floating mb-2">
            <input formControlName="cooktime" type="text" class="form-control" id="floatingPassword"
                placeholder="Title">
            <label for="floatingPassword">Cook Time</label>
        </div>
        <div *ngIf="cookTime?.touched && cookTime?.invalid" class="alert alert-danger">
            <div *ngIf="cookTime?.errors?.['required']">Cook Time is required.</div>
        </div>
        <div class="form-floating mb-2">
            <input formControlName="servings" type="number" min="1" class="form-control" id="floatingPassword"
                placeholder="Title">
            <label for="floatingPassword">Servings</label>
        </div>
        <div *ngIf="servings?.touched && servings?.invalid" class="alert alert-danger">
            <div *ngIf="servings?.errors?.['min']">Servings have to be at least 1 portion.</div>

            <div *ngIf="servings?.errors?.['required']">Servings are required.</div>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-warning">Edit</button>
    </form>
</section>

