.action-btn{
    float: right;
    margin-left: 10px;
}

.nav-link {
    color: #000;
    cursor: pointer;
}


.change-role-btn { 
    width: 85px;
}

.scroll-ul{
    height: 400px;
    overflow: auto;
    border: 1px solid #ccc
}

.my-show{
    display: block !important;
}

.modal-backdrop{
    display: none;
}

.my-fade{
    background-color: #000;
    opacity: 0.08;
    transition-duration: 0.3s;
}


.my-modal{
    transform: translateY(20px);
}