<form  [formGroup]="form" (ngSubmit)="handleSubmit(form)">
    <div class="form-floating mb-2">
        <input formControlName="name" type="text" class="form-control" id="floatingPassword" placeholder="Title">
        <label for="floatingPassword">Name</label>
    </div>
    <div class="form-floating mb-2" style="font-family: 'Consolas', Courier, monospace;">
        <input formControlName="incompatible" type="text" class="form-control" id="floatingPassword" placeholder="Title">
        <label for="floatingPassword">Incompatible</label>
    </div>
    <button type="submit" class="btn btn-warning">Create</button>

</form>
